// Icon site
$site-icon: "ici"

$custom-theme-color-background-active: ('body.pages__section, body.page-home-post, body.posts__page, body.posts__section': "#FFAC99")
$custom-theme-color-background-accent: ('body.pages__section, body.page-home-post, body.posts__page, body.posts__section': "#FFCCBF")
$custom-theme-color-background-alt: ('body.pages__section, body.page-home-post, body.posts__page, body.posts__section, .block-chapter--alt_background': "#FFE0D9")
